// Content part
.ro-group-container-down
    height: 100%
    min-height: 100%

.ro-container-content
    width: 100%
    @media screen and (min-width: $small-width)
        padding-left: $width-side-left + 15px

    .ro-content-title
        margin: 0 0 20px -15px
        padding: 10px 25px
        background-color: $color-two-dark-one
        color: $dark-font
        font-size: 24pt