$width-side-left: 250px
$height-header: 60px

.ro-dash
    position: relative
    padding-bottom: 60px
    min-height: 100%

.ro-group-container-menu
    float: left
    height: 100%
    min-height: 100%
    margin-left: -15px
    position: absolute

.ro-logo-ooka small
    -webkit-transition: 0.5s
    -o-transition: 0.5s
    transition: 0.5s
    font-size: 0

.ro-logo-ooka:hover small
    -webkit-transition: 0.5s
    -o-transition: 0.5s
    transition: 0.5s
    font-size: 14pt

a:hover, a:active, a:visited, a:focus, .ro-one-lvl
    text-decoration: none
    outline: 0

.ro-main-header section
    height: $height-header

.options-container
    background-color: $color-one

.ro-fade
    margin-left: -15px
    margin-right: -15px
    height: $height-header
    background: darken($color-one, 6)
    background: -moz-linear-gradient(left, darken($color-one, 6) 0%, $color-one 100%)
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,darken($color-one, 6)), color-stop(100%,$color-one))
    background: -webkit-linear-gradient(left, darken($color-one, 6) 0%,$color-one 100%)
    background: -o-linear-gradient(left, darken($color-one, 6) 0%,$color-one 100%)
    background: -ms-linear-gradient(left, darken($color-one, 6) 0%,$color-one 100%)
    background: linear-gradient(to right, darken($color-one, 6) 0%,$color-one 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($color-one, 6)', endColorstr='$color-one',GradientType=1 )

.ro-options-nav
    margin: 0
    padding: 0
    float: right
    height: inherit

.ro-menu-button
    display: inline-block
    text-align: center
    height: inherit

.ro-menu-button-link
    display: block
    padding: 17px 30px
    color: $light-font
    font-size: 13pt
    border-left: 1px solid darken($color-one, 6)
    height: inherit
    &:hover
        background-color: darken($color-one, 4)
        color: $light-font

.ro-font-logo-container
    background-color: $color-one
    position: relative
    width: $width-side-left + 10
    float: left
    top: -5px
    margin-right: 5px

    &:before
        position: absolute
        content: ""
        right: 0
        bottom: -5px
        border-left: 10px solid #C54B34
        border-bottom: 5px solid transparent

    &:after
        position: absolute
        content: ""
        right: 0
        bottom: -5px
        border-right: 10px solid #F07A63
        border-top: 5px solid transparent

    h1
        text-align: center
        margin: 15px 0
        color: #fff
        font-size: 22pt

// Main Menu
.ro-menu-container
    display: block
    width: $width-side-left
    min-height: 100%
    background-color: $color-two
    border: 1px solid $color-two-dark-one

    ul, .ro-one-lvl
        width: 100%
        list-style-type: none
        margin: 0
        padding: 0

    .ro-one-lvl
        border-bottom: 1px solid $color-two-dark-one

        .ro-dropdown, .ro-lvl-one-item
            display: block
            color: $color-two-dark-two
            font-size: 11pt
            padding: 15px ($width-side-left/8)

        .ro-dropdown:hover, .active
            -webkit-transition: .5s
            -o-transition: .5s
            transition: .5s
            background-color: $color-two-dark-two
            color: #fff
            border-left: 25px solid $color-one

.ro-two-lvl
    padding-left: 25px
    a
        width: 100%
        display: block
        margin: 5px 0
        padding: 3px 15px

    a:hover, .active
        -webkit-transition: .3s
        -o-transition: .3s
        transition: .3s
        background: $color-one
        color: $light-font

.ro-header-menu
    text-align: center
    clear: both
    h2
        font-size: 15pt !important
        margin: 0
        padding: 20px 0
        color: $dark-font

.icon-before
    margin-right: 15px

.icon-after
    float: right
    margin: 5px 0 0 15px

// Content part
.ro-group-container-content
    margin-left: $width-side-left

.ro-container-content
    margin-right: -15px

    .ro-content-title
        margin: 0 0 20px -15px
        padding: 10px 25px
        background-color: $color-two-dark-one
        color: $dark-font
        font-size: 24pt

.ro-content-footer
    position: absolute
    height: 30px
    width: 100%
    background-color: $color-two-dark-two
    bottom: 0
    left: 0
    text-align: right
    padding-top: 5px

    &:before
        content: ""
        position: absolute
        left: -15px
        top: 0
        display: inline-block
        height: 30px
        width: 15px
        background: $color-two-dark-two

    h1
        font-size: 10pt
        display: inline
        color: $light-font
        margin: 0 15px

    a
        color: $light-font