// Color Schemme
$color-one: #F3927F
$color-two: #F0F3F7
$color-two-dark-one: darken($color-two, 4)
$color-two-dark-two: darken($color-two, 45)

$color-three: #FFFFFF

$light-font: #FFFFFF
$dark-font: $color-two-dark-two
// End Color Schemme

$width-side-left: 250px
$height-header: 60px

// Width
$small-width: 768px
$medium-width: 992px
$large-width: 1200px